/* Start Variables */
:root{
    --main-color:#19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}

/* End Variables */

/* Start Global Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
}

.container{
    padding: 0 15px;
    margin: 0 auto;
}

/* small Screen */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}

/* medium Screen */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}

/* Large Screen */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}


/* End Global Rules */

/* Start Components */

.section-head h2{
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.section-head h2::after{
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: solid 2px #333;
    background-color: #fff;
    position: absolute;
    bottom: -38px;
    left: 50%;
    transform: translateX(-50%);
}

.section-head h2::before{
    content: '';
    width: 120px;
    height: 2px;
    background-color: #333;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.section-head p{
    width: 550px;
    text-align: center;
    max-width: 100%;
    line-height: 2;
    color: #777;
    margin: 0 auto 100px;
}

/* End Components */

/* Start Header */
header{
    width: 100%;
    position: absolute;
    z-index: 2;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    min-height: 97px;
    position: relative;
}

header .container::after{
    content: '';
    width:calc( 100% - 30px);
    height: 1px;
    background-color: #a2a2a2;
    position: absolute;
    bottom: 0;
    left: 15px;
}

header .container img{
    height: 40px;
}

header .container nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .container nav .icon-list{
    color: #fff;
    font-size: 22px;
    display: none;
}

header .container nav ul{
    display: flex;
}

header .container nav ul a{
    display: block;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}

header nav ul li a.active, header nav ul li a:hover{
    color: var(--main-color);
    border-bottom: solid 1px var(--main-color);
}

@media (max-width:767px) {
    header .container nav ul{
        display: none;
    }
    header .container nav .icon-list{
        display: flex;
    }
    header .container nav .icon-list:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0px;
        background-color: rgb(0, 0, 0,50%);
    }
    header .container nav ul a{
        padding: 15px;
    }
}

.icon-search{
    color: #fff;
    font-size: 20px;
    border-left: solid 1px #fff;
    padding: 3px 0 4px;
    padding-left: 19px;
    margin-left: 30px;
}


/* End Header */

/* Start Landing */

.landing{
    background-image: url(../images/landing.jpg);
    background-size: cover  ;
    position: relative;
}

.landing .overlay{
    background-color: rgb(0, 0, 0,60%);
    height: 100vh;
}

.landing .box{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    color: #fff;
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.landing .box .text{
    max-width: 500px;
}

.landing .box .text h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
}

.landing .box .text p{
    line-height: 2;
    font-size: 14px;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .landing .box{
        width: 100%;
        justify-content: flex-start;
    }
    .landing .box .text{
        max-width: 100%;
    }
}

.landing .change-background{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}

.landing .fa-angle-left{
    left: 30px;
}

.landing .fa-angle-right{
    right: 30px;
}

@media (max-width:767px){
    .landing .change-background{
        display: none;
    }
}

.landing ul{
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.landing ul li{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px #ddd;
}

.landing ul li.active{
    background-color: var(--main-color);
    border: none;
}

/* End Landing */

/* Start Services */

.services {
    padding-top : var(--section-padding) ;
    padding-bottom : var(--section-padding) ;
}

@media (min-width:768px) {
    .services .container .contact{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px,1fr));
        row-gap: 60px;
        column-gap: 40px;
    }
}


.services .container .contact .box{
    display: flex;
}

.services .container .contact .box i{
    margin-right:50px ;
}
.services .container .contact .box .text h3{
    color: var(--main-color);
    margin-bottom: 30px;
}

.services .container .contact .box .text p{
    line-height: 2;
    color: #777;
}

@media (max-width:767px) {
    .services .container .contact .box{
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .services .container .contact .box i{
        margin:0 0 30px;
    }
}
/* End Services */

/* Start Design */

.design{
    height: 600px;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.design::before{
    content: '';
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0,60%);
    position: absolute;
    top: 0;
    left: 0;
}

.design .image{
    text-align: center;
}

.design .image, 
.des-text{
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image img{
    position: relative;
    bottom: -150px;
}

@media (max-width:767px) {
    .design .image{
        display: none;
    }
}
.design  .des-text{
    color: #fff;
    background-color: var(--transparent-color);
    padding: 50px;
}

.design .des-text h2{
    font-weight: normal;
    margin-bottom: 40px;
}

.design .des-text ul li{
    padding: 15px 0;
}

.design .des-text ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

/* End Design */

/* Start Portfolio */

.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .container .port-links{
    display: flex;
    justify-content: center;
}

.portfolio .container .port-links li{
    text-transform: capitalize;
    padding: 10px;
}

.portfolio .container .port-links li.act{
    background: var(--main-color);
    color: #fff;
}

.portfolio .gallary{
    padding-top: 60px ;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%,1fr));
}

@media (max-width:1199px) {
    .portfolio .gallary{
        grid-template-columns: repeat(auto-fill, minmax(50%,1fr));
    }
}

@media (max-width:767px) {
    .portfolio .gallary{
        grid-template-columns: repeat(auto-fill, minmax(100%,1fr));
    }
}

.portfolio .gallary .port-box{
    position: relative;
    overflow: hidden;
}

.portfolio .gallary .port-box img{
    width: 100%;
    transition: 0.3s;
}

.portfolio .gallary .port-box:hover>img{
    transform: rotate(3deg) scale(1.1);
}

.portfolio .gallary .port-box .port-text{
    padding: 20px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: 0.3s;
}

.portfolio .gallary .port-box .port-text h4{
    font-weight: normal;
    margin-bottom: 10px;
}

.portfolio .gallary .port-box .port-text p{
    color: var(--main-color);
}

.portfolio .gallary .port-box:hover >.port-text{
    bottom: 0;
}

.portfolio .more{
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    margin-top: 30px;
    background-color: var(--main-color);
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/* End Portfolio */